
/****** Object:  StoredProcedure [Mnr].[prs_RptMachineryXML]    Script Date: 9/13/25 2:24:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [Mnr].[prs_RptMachineryXML]
@fieldname NVARCHAR(20),@NahiId INT,@aztarikh NVARCHAR(10),@TaTarikh NVARCHAR(10),@TypeEstekhdam TINYINT,@fldAyeenNameId int

as
begin tran
------if(@TypeEstekhdam=4 or @TypeEstekhdam=2)
------begin
------	set @aztarikh=N'1398/11/18' 
------	set @TaTarikh = N'1398/12/29'
-------- end
--DECLARE @fieldname NVARCHAR(20)='all',@NahiId INT=0,@aztarikh NVARCHAR(10)='1404/05/16',@TaTarikh NVARCHAR(10)='1404/06/15'
--,@TypeEstekhdam TINYINT=0,@fldAyeenNameId int =3
--,@TypeEstekhdam TINYINT=0
declare @NoId int,@HeaderId int=0

	select top(1) @HeaderId=fldId from tblNobatPardakhtHeader
		where fldTarikhEjra<=@aztarikh
		order by fldTarikhEjra desc

select @NoId=fldId from tblNobatPardakht where SUBSTRING(@aztarikh,6,5) between fldAzTarikh and fldTaTarikh and fldHeaderId=@HeaderId

DECLARE @t TABLE (PersonalId INT,KarkarId INT,TavaghofId INT,SignInoutId INT,machinserial int)
DECLARE @temp TABLE (personalId INT,Karkard INT,Tavaghof INT,singintout INT,TaedId int,machinId int)
DECLARE @Etekhdam NVARCHAR(50)
--DECLARE @personalId INT=501,@nahiId INT=1,@TaeedId INT=1,@aztarikh NVARCHAR(10)='1398/04/21',@TaTarikh NVARCHAR(10)='1398/05/20',@fieldname NVARCHAR(20)='khat'
--SELECT '' Name_Family,'' fldCodeEnhesari,''fldFatherName,CAST(0 AS BIGINT) Mablagh

declare @tblEstekhdam table(id int)
declare @TypeEstekhdam2 nvarchar(200)=''
if(@TypeEstekhdam in (1,2))
begin
if(@TypeEstekhdam=1)
	set @TypeEstekhdam2='20,8,7,3,2,1,9'
else if(@TypeEstekhdam=2)
	set @TypeEstekhdam2='10,'
--else if(@TypeEstekhdam=3)
--	set @TypeEstekhdam2='10,20,8,7,3,2,1,9'

insert @tblEstekhdam
select Item from dbo.Split_CTE( @TypeEstekhdam2,',')
end
else if(@TypeEstekhdam=4)
begin
	insert @tblEstekhdam
	select fldId from tblTypeEstekhdam where fldId not in (10,20,8,7,3,2,1,9)
end
else --if(@TypeEstekhdam=3)
begin
	insert @tblEstekhdam
	select fldId from tblTypeEstekhdam 
end

declare @TaedId int=0
select @TaedId=max(fldId) from mnr.tblTedadTaeed where fldActive_Deactive=1



declare @Table table  (fldid int,fldCodeMeli nvarchar(10),Name_Family nvarchar(200),fldCodeEnhesari nvarchar(20),fldFatherName nvarchar(100),Mablagh bigint
,fldSerial nvarchar(10),MashinarySerial int,opratornumber nvarchar(20),fldOrder int,fldDarsad  decimal(5,2)
,fldMablaghKoli bigint,MablaghDaryafti bigint,MablaghEzafeShode bigint,fldNameNahi nvarchar(50),TaedId tinyint,fldGhatee bit,fldmoavaghe bigint)

insert into @Table
exec  [Mnr].[prs_RptMachineryXMLDarsad] @fieldname ,
		@NahiId  ,
		@aztarikh ,
		@TaTarikh ,
		@TypeEstekhdam ,
		@fldAyeenNameId 

if (@fieldname='Khat')
select fldId,fldCodeMeli,Name_Family  collate Persian_100_CI_AI,fldCodeEnhesari,fldFatherName  collate Persian_100_CI_AI,sum(fldMablaghKoli)Mablagh
,sum(fldMablaghKoli) +isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0) MablaghDaryafti 
,fldNameNahi,TaedId,fldGhatee
,isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0)fldmoavaghe
from @Table
group by fldId,fldCodeMeli,Name_Family  ,fldCodeEnhesari,fldFatherName,MablaghDaryafti,fldNameNahi,TaedId,fldGhatee
union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,
		tblMoavaghe.fldCodeEnhesari,fldFatherName,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,N'اداره کل خط و ساز های فنی' AS fldNameNahi,1,cast(0 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.FLDtYPE=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and k.fldPersonalId=tblPersonalInfo.fldid)
		group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName



if (@fieldname='Nahi')
select fldId,fldCodeMeli,Name_Family collate Persian_100_CI_AI,fldCodeEnhesari,fldFatherName collate Persian_100_CI_AI,sum(fldMablaghKoli)Mablagh
,sum(fldMablaghKoli) +isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0) MablaghDaryafti 
,fldNameNahi,TaedId,fldGhatee
,isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0)fldmoavaghe
from @Table
group by fldId,fldCodeMeli,Name_Family,fldCodeEnhesari,fldFatherName,MablaghDaryafti,fldNameNahi,TaedId,fldGhatee
union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,tblMoavaghe.fldCodeEnhesari,fldFatherName,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,tblNahi.fldNameNahi,1,cast(0 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		INNER JOIN dbo.tblNahi ON tblNahi.fldCode_Personal=tblPersonalInfo.fldMahalSazmaniId
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.fldtype=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and  k.fldPersonalId=tblPersonalInfo.fldid)	
	group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName,fldNameNahi


if (@fieldname='All')
select fldid,fldCodeMeli,Name_Family collate Persian_100_CI_AI Name_Family ,fldCodeEnhesari,fldFatherName collate Persian_100_CI_AI fldFatherName, sum(fldMablaghKoli)Mablagh,
		 sum(fldMablaghKoli)+isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=t.fldCodeEnhesari AND tblMoavaghe.fldtype=1),0)MablaghDaryafti
		 ,fldNameNahi,TaedId,fldGhatee,fldmoavaghe
		  from @table t
GROUP BY fldid,fldCodeMeli, Name_Family ,fldCodeEnhesari,fldFatherName,fldNameNahi,TaedId,fldGhatee,fldmoavaghe
union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily  AS Name_Family,tblMoavaghe.fldCodeEnhesari,fldFatherName ,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,isnull(fldNameNahi,N'اداره کل خط و سازه های فنی') as fldNameNahi,1,cast(1 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		left JOIN dbo.tblNahi ON tblNahi.fldCode_Personal=tblPersonalInfo.fldMahalSazmaniId
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.fldtype=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and k.fldPersonalId=tblPersonalInfo.fldid)--	and tblMoavaghe.fldCodeEnhesari='11658854'
	group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName,fldNameNahi
	




/*IF(@fieldname='khat')
begin
	INSERT @t 
	SELECT fldPersonalId,tblMablaghKarkardOprator.fldId,0,0,fldMashinarySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN Mnr.tblMablaghCalcMachinery
	ON tblMablaghCalcMachinery.fldId = tblMablaghKarkardOprator.fldMablaghCalcId  inner join 
	mnr.tblMachineryKarkard on tblMachineryKarkard.fldid=fldMablaghCalcId
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND isnull((SELECT  top(1)    tblHistoryDepo.fldMahalSazmaniId
FROM            tblHistoryDepo INNER JOIN
                         tblPersonalInfo ON tblHistoryDepo.fldPersonalId = tblPersonalInfo.fldId
						 where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and tblHistoryDepo.fldTarikh between @AzTarikh and @TaTarikh),fldMahalSazmaniId) NOT IN (SELECT fldCode_Personal FROM tblnahi WHERE fldCode_Personal=fldMahalSazmaniId)-- tblNahi.fldCode=@nahiId
	--and (select top(1) fldId from tblHistoryDepo where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh BETWEEN @aztarikh AND @TaTarikh)=null

	AND fldMablaghCalcId IS NOT NULL   and fldMashinarySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId)
	GROUP BY fldPersonalId,tblMablaghKarkardOprator.fldId,tblMablaghKarkardOprator.fldTarikh,fldMashinarySerialId
	--SELECT * FROM @t 
	INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId   FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId  inner join 
	mnr.tblMachineryTavaghof on fldTavaghofId=tblMachineryTavaghof.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND isnull((SELECT  top(1)    tblHistoryDepo.fldMahalSazmaniId
FROM            tblHistoryDepo INNER JOIN
                         tblPersonalInfo ON tblHistoryDepo.fldPersonalId = tblPersonalInfo.fldId
						 where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and tblHistoryDepo.fldTarikh between @AzTarikh and @TaTarikh),fldMahalSazmaniId) NOT IN (SELECT fldCode_Personal FROM tblnahi WHERE fldCode_Personal=fldMahalSazmaniId)-- AND  tblNahi.fldCode=@nahiId
	--and (select top(1) fldId from tblHistoryDepo where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh BETWEEN @aztarikh AND @TaTarikh)=null
	AND fldTavaghofId IS NOT NULL   and fldMachinerySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId) and tblMachineryTavaghof.fldEblagh_Id is not null 

	 INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId  inner join 
	mnr.tblMachineryTavaghof on fldTavaghofId=tblMachineryTavaghof.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh   and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND isnull((SELECT  top(1)    tblHistoryDepo.fldMahalSazmaniId
FROM            tblHistoryDepo INNER JOIN
                         tblPersonalInfo ON tblHistoryDepo.fldPersonalId = tblPersonalInfo.fldId
						 where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and tblHistoryDepo.fldTarikh between @AzTarikh and @TaTarikh),fldMahalSazmaniId) NOT IN (SELECT fldCode_Personal FROM tblnahi WHERE fldCode_Personal=fldMahalSazmaniId)-- AND  tblNahi.fldCode=@nahiId
	--and (select top(1) fldId from tblHistoryDepo where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh BETWEEN @aztarikh AND @TaTarikh)=null
	 and tblMachineryTavaghof.fldEblagh_Id is  null 



	INSERT @t
	SELECT tblMablaghKarkardOprator.fldPersonalId,0,0,fldSignInOutId,fldfldSerialMachineryId   FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId  inner join 
	tblSignInOut on fldSignInOutId=tblSignInOut.fldid inner join Mnr.tblEblagh
	on tblSignInOut.fldEblagh_Id=tblEblagh.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId AND  fldMahalSazmaniId NOT IN (SELECT fldCode_Personal FROM tblnahi WHERE fldCode_Personal=fldMahalSazmaniId)--AND   tblNahi.fldCode=@nahiId
	--and (select top(1) fldId from tblHistoryDepo where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh BETWEEN @aztarikh AND @TaTarikh)=null
	AND fldSignInOutId IS NOT NULL  	 and fldIsEbtal<>1
	and tblSignInOut.fldEblagh_Id in (select e.fldid from mnr.tblEblagh as e where tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh))


	INSERT @temp
	SELECT PersonalId,KarkarId,0,0,(SELECT        TOP (1) Mnr.tblMablaghCalcMachinery.fldFinalSabt
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId where Mnr.tblMablaghKarkardOprator.fldId=KarkarId  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.KarkarId=tblSabtTaeediye.fldKarkardId WHERE t.PersonalId=t3.PersonalId
--group by fldKarkardId)t)t2) fldTaeedId 
,machinserial
FROM @t t3
	WHERE KarkarId<>0/* and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((SELECT     fldEblagh_Id   
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId INNER JOIN
                         Mnr.tblMachineryKarkard ON Mnr.tblMablaghCalcMachinery.fldKarkardId = Mnr.tblMachineryKarkard.fldId where Mnr.tblMablaghKarkardOprator.fldId=KarkarId),',') ) order by fldIsEbtal)<>1
	*/GROUP BY PersonalId,KarkarId,machinserial


	INSERT @temp
	SELECT PersonalId,0,TavaghofId ,0 ,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldTavaghofId=TavaghofId and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.TavaghofId=tblSabtTaeediye.fldTavaghofId WHERE t.PersonalId=t3.PersonalId
--group by fldTavaghofId)t)t2) fldTaeedId 
,machinserial
FROM @t  t3
	WHERE TavaghofId<>0  /* and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from Mnr.tblMachineryTavaghof where fldId=TavaghofId),',') ) order by fldIsEbtal)<>1*/


	INSERT @temp
	SELECT PersonalId,0,0,SignInoutId,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldSignInOutId=SignInoutId  and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.SignInoutId=tblSabtTaeediye.fldSignInOutId WHERE t.PersonalId=t3.PersonalId
--group by fldSignInOutId)t)t2) fldTaeedId  
,machinserial
FROM @t  t3
	WHERE SignInoutId<>0  /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from tblSignInOut where fldId=SignInoutId),',') ) order by fldIsEbtal)<>1*/


	--SELECT * FROM @temp-- WHERE personalId=501

		SELECT t.fldPersonalId AS fldId,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,fldCodeEnhesari,fldFatherName,
		  sum(fldMablagh)  Mablagh,
		/*coalesce(MablaghDarsad,(select   SUM(fldMablagh) from mnr.tblMablaghKarkardOprator inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and t.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId
		), */sum(fldMablagh) +isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0) MablaghDaryafti
		,N'اداره کل خط و ساز های فنی' AS fldNameNahi,
		case when min(flag)=2 then 0 else min(TaedId)end TaedId,(select top(1) ISNULL(fldGhatee,0)fldGhatee from  Mnr.tblMablaghKarkardOprator WHERE Mnr.tblMablaghKarkardOprator.fldPersonalId=t.fldPersonalId AND fldTarikh BETWEEN @AzTarikh AND @TaTarikh order by fldDate desc )fldGhatee
		,isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.FLDtYPE=1),0)fldmoavaghe
		FROM (
		 select fldPersonalId,machinId,MablaghDarsad, case when MablaghDarsad is null then/* sum(mablaghl)  when  sum(mablaghl)  is null  then*/ isnull(sum(mablaghl),sum(fldMablagh)) else MablaghDarsad end  fldMablagh
		 ,TaedId,flag
		 from (
		SELECT  fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag,machinId FROM @temp AS t --INNER JOIN Mnr.tblMablaghCalcMachinery ON fldKarkardId=t.Karkard
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldId =t.Karkard AND fldPersonalId=t.personalId
	outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--fldPersonalId=1598

		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag,machinId FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldTavaghofId = t.Tavaghof AND fldPersonalId=t.personalId
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId --fldPersonalId=1598

		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag,machinId FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldSignInOutId = t.singintout AND fldPersonalId=t.personalId
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--fldPersonalId=1598.

		UNION ALL 
		SELECT fldPersonalId ,fldMablagh,mablaghl,/*@TaedId*/1 fldTaeedId ,2 as flag ,fldfldSerialMachineryId FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
		ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId 
		cross apply (select fldfldSerialMachineryId,fldOpratorNumber from Mnr.tblEblagh where tblEblagh.fldId=tblMablaghKarkardOprator.fldEblaghId)e

		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh   and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
		AND isnull((SELECT  top(1)    tblHistoryDepo.fldMahalSazmaniId
FROM            tblHistoryDepo INNER JOIN
                         tblPersonalInfo ON tblHistoryDepo.fldPersonalId = tblPersonalInfo.fldId
						 where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and tblHistoryDepo.fldTarikh between @AzTarikh and @TaTarikh),fldMahalSazmaniId) NOT IN (SELECT fldCode_Personal FROM tblnahi WHERE fldCode_Personal=fldMahalSazmaniId)-- AND  tblNahi.fldCode=@nahiId  --AND fldPersonalId=t.personalId
		--and (select top(1) fldId from tblHistoryDepo where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh BETWEEN @aztarikh AND @TaTarikh)=null
		AND tblMablaghKarkardOprator.fldEblaghId IS NOT NULL/* and fldEblaghId in (select tblEblagh.fldId from Mnr.tblEblagh where tblEblagh.fldId=fldEblaghId and fldIsEbtal<>1)  --and fldPersonalId=1598
		*/and   tblMablaghKarkardOprator.fldEblaghId in (select e.fldId from mnr.tblEblagh as e where ((e.fldTarikh=tblMablaghKarkardOprator.fldTarikh) or ( tblMablaghKarkardOprator.fldTarikh between e.fldAzTarikh and  isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh))))
		)x
		outer apply (select  (fldMablaghNahii)MablaghDarsad from mnr.tblDarsadMablaghPersonal p 
		where p.fldPersonald=x.fldPersonalId and fldTarikh=@TaTarikh 
		and p.fldAyeenNameId=@fldAyeenNameId and fldMachinSerialId=x.machinId )darsad
		group by x.fldPersonalId,x.flag,x.machinId,MablaghDarsad,x.TaedId
		)t
		INNER JOIN dbo.tblPersonalInfo ON tblPersonalInfo.fldId = t.fldPersonalId
		WHERE fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		GROUP BY t.fldPersonalId,fldCodeMeli, fldName,fldFamily ,fldCodeEnhesari,fldFatherName,MablaghDarsad


		union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,
		tblMoavaghe.fldCodeEnhesari,fldFatherName,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,N'اداره کل خط و ساز های فنی' AS fldNameNahi,1,cast(0 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.FLDtYPE=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and k.fldPersonalId=tblPersonalInfo.fldid)
		group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName

	END

	IF(@fieldname='Nahi')
begin
	INSERT @t 
	SELECT fldPersonalId,tblMablaghKarkardOprator.fldId,0,0,fldMashinarySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN Mnr.tblMablaghCalcMachinery
	ON tblMablaghCalcMachinery.fldId = tblMablaghKarkardOprator.fldMablaghCalcId INNER JOIN dbo.tblNahi
	ON fldCode_Personal=fldMahalSazmaniId inner join mnr.tblMachineryKarkard
	on fldKarkardId=tblMachineryKarkard.fldid 
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	and ISNULL((SELECT        TOP (1) fldCode
FROM            tblHistoryDepo INNER JOIN
                         tblMahalSazmani ON tblHistoryDepo.fldMahalSazmaniId = tblMahalSazmani.fldId left outer JOIN
                         tblNahi ON tblMahalSazmani.fldId = tblNahi.fldCode_Personal where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh between @AzTarikh and @TaTarikh ),tblNahi.fldCode)=@nahiId
	AND fldMablaghCalcId IS NOT NULL and fldMashinarySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId)
	GROUP BY fldPersonalId,tblMablaghKarkardOprator.fldId,tblMablaghKarkardOprator.fldTarikh,fldMashinarySerialId
	

	INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN dbo.tblNahi 
	ON fldCode_Personal=fldMahalSazmaniId inner join mnr.tblMachineryTavaghof
	on fldTavaghofId=tblMachineryTavaghof.fldid 
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	and ISNULL((SELECT        TOP (1) fldCode
FROM            tblHistoryDepo INNER JOIN
                         tblMahalSazmani ON tblHistoryDepo.fldMahalSazmaniId = tblMahalSazmani.fldId left outer JOIN
                         tblNahi ON tblMahalSazmani.fldId = tblNahi.fldCode_Personal where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh between @AzTarikh and @TaTarikh ),tblNahi.fldCode)=@nahiId
	AND fldTavaghofId IS NOT NULL  and fldMachinerySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId) and tblMachineryTavaghof.fldEblagh_Id is not null 

INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN dbo.tblNahi 
	ON fldCode_Personal=fldMahalSazmaniId inner join mnr.tblMachineryTavaghof
	on fldTavaghofId=tblMachineryTavaghof.fldid 
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	and ISNULL((SELECT        TOP (1) fldCode
FROM            tblHistoryDepo INNER JOIN
                         tblMahalSazmani ON tblHistoryDepo.fldMahalSazmaniId = tblMahalSazmani.fldId left outer JOIN
                         tblNahi ON tblMahalSazmani.fldId = tblNahi.fldCode_Personal where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh between @AzTarikh and @TaTarikh ),tblNahi.fldCode)=@nahiId
	AND fldTavaghofId IS NOT NULL and tblMachineryTavaghof.fldEblagh_Id is null 



	INSERT @t
	SELECT tblMablaghKarkardOprator.fldPersonalId,0,0,fldSignInOutId ,fldfldSerialMachineryId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN dbo.tblNahi
	ON fldCode_Personal=fldMahalSazmaniId inner join tblSignInOut
	on fldSignInOutId=tblSignInOut.fldid inner join mnr.tblEblagh
	on fldEblagh_Id=tblEblagh.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	and ISNULL((SELECT        TOP (1) fldCode
FROM            tblHistoryDepo INNER JOIN
                         tblMahalSazmani ON tblHistoryDepo.fldMahalSazmaniId = tblMahalSazmani.fldId left outer JOIN
                         tblNahi ON tblMahalSazmani.fldId = tblNahi.fldCode_Personal where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh between @AzTarikh and @TaTarikh ),tblNahi.fldCode)=@nahiId
	AND fldSignInOutId IS NOT NULL  and fldIsEbtal<>1
	and tblSignInOut.fldEblagh_Id in (select e.fldid from mnr.tblEblagh as e where tblMablaghKarkardOprator.fldtarikh between e.fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh))

	INSERT @temp
	SELECT PersonalId,KarkarId,0,0,(SELECT        TOP (1) Mnr.tblMablaghCalcMachinery.fldFinalSabt
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId where Mnr.tblMablaghKarkardOprator.fldId=KarkarId  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.KarkarId=tblSabtTaeediye.fldKarkardId WHERE t.PersonalId=t3.PersonalId
--group by fldKarkardId)t)t2) fldTaeedId 
,machinserial
FROM @t t3
	WHERE KarkarId<>0 /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((SELECT     fldEblagh_Id   
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId INNER JOIN
                         Mnr.tblMachineryKarkard ON Mnr.tblMablaghCalcMachinery.fldKarkardId = Mnr.tblMachineryKarkard.fldId where Mnr.tblMablaghKarkardOprator.fldId=KarkarId),',') ) order by fldIsEbtal)<>1
	*/GROUP BY PersonalId,KarkarId,machinserial


	INSERT @temp
	SELECT PersonalId,0,TavaghofId ,0,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldTavaghofId=TavaghofId  and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.TavaghofId=tblSabtTaeediye.fldTavaghofId WHERE t.PersonalId=t3.PersonalId
--group by fldTavaghofId)t)t2) fldTaeedId 
,machinserial
FROM @t t3
	WHERE TavaghofId<>0  /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from Mnr.tblMachineryTavaghof where fldId=TavaghofId),',') ) order by fldIsEbtal)<>1*/


	INSERT @temp
	SELECT PersonalId,0,0,SignInoutId,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldSignInOutId=SignInoutId  and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.SignInoutId=tblSabtTaeediye.fldSignInOutId WHERE t.PersonalId=t3.PersonalId
--group by fldSignInOutId)t)t2) fldTaeedId  
,machinserial
FROM @t t3
	WHERE SignInoutId<>0 /* and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from tblSignInOut where fldId=SignInoutId),',') ) order by fldIsEbtal)<>1*/


		SELECT t.fldPersonalId AS fldId,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,fldCodeEnhesari,fldFatherName, 
		 sum(fldMablagh)  Mablagh,
		/*coalesce(mablaghDarsad,(select   SUM(fldMablagh)  from mnr.tblMablaghKarkardOprator inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and t.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId
		), */ sum(fldMablagh) +isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.fldtype=1),0)MablaghDaryafti
		,tblNahi.fldNameNahi,
		case when min(flag)=2 then 0 else min(TaedId)end TaedId,(select top(1) ISNULL(fldGhatee,0)fldGhatee from  Mnr.tblMablaghKarkardOprator WHERE Mnr.tblMablaghKarkardOprator.fldPersonalId=t.fldPersonalId AND fldTarikh BETWEEN @AzTarikh AND @TaTarikh order by fldDate desc )fldGhatee
		,isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.fldtype=1),0)fldmoavaghe
		FROM (
		 select fldPersonalId,machinId,MablaghDarsad, case when MablaghDarsad is null then/* sum(mablaghl)  when  sum(mablaghl)  is null  then*/ isnull(sum(mablaghl),sum(fldMablagh)) else MablaghDarsad end  fldMablagh
		 ,TaedId,flag
		 from (
		SELECT  fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag,machinId FROM @temp AS t --INNER JOIN Mnr.tblMablaghCalcMachinery ON fldKarkardId=t.Karkard
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldId = t.Karkard AND fldPersonalId=t.personalId
			outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId

		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag ,machinId FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldTavaghofId = t.Tavaghof AND fldPersonalId=t.personalId
			outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId

		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId,1 as flag,machinId  FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldSignInOutId = t.singintout AND fldPersonalId=t.personalId
			outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId

		UNION ALL 
		SELECT fldPersonalId ,fldMablagh,mablaghl,/*@TaedId*/ 1 fldTaeedId,2 as flag,fldfldSerialMachineryId FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
		ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN dbo.tblNahi
		ON fldCode_Personal=fldMahalSazmaniId
		cross apply (select fldfldSerialMachineryId,fldOpratorNumber from Mnr.tblEblagh where tblEblagh.fldId=tblMablaghKarkardOprator.fldEblaghId)e
			outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--AND  tblNahi.fldCode=@nahiId  --AND fldPersonalId=t.personalId
		and ISNULL((SELECT        TOP (1) fldCode
FROM            tblHistoryDepo INNER JOIN
                         tblMahalSazmani ON tblHistoryDepo.fldMahalSazmaniId = tblMahalSazmani.fldId left outer JOIN
                         tblNahi ON tblMahalSazmani.fldId = tblNahi.fldCode_Personal where fldPersonalId=Mnr.tblMablaghKarkardOprator.fldPersonalId and fldTarikh between @AzTarikh and @TaTarikh ),tblNahi.fldCode)=@nahiId
		AND fldEblaghId IS NOT NULL and /*fldEblaghId in (select tblEblagh.fldId from Mnr.tblEblagh where tblEblagh.fldId=fldEblaghId and fldIsEbtal<>1)
		and */  tblMablaghKarkardOprator.fldEblaghId in (select e.fldId from mnr.tblEblagh as e where ((e.fldtarikh=tblMablaghKarkardOprator.fldTarikh) or (tblMablaghKarkardOprator.fldTarikh between e.fldAzTarikh and  isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh))))
		)x
		outer apply (select  (fldMablaghNahii)MablaghDarsad from mnr.tblDarsadMablaghPersonal p 
		where p.fldPersonald=x.fldPersonalId and fldTarikh=@TaTarikh 
		and p.fldAyeenNameId=@fldAyeenNameId and fldMachinSerialId=x.machinId )darsad
		group by x.fldPersonalId,x.flag,x.machinId,MablaghDarsad,x.TaedId--,fldMablagh
		)t
		INNER JOIN dbo.tblPersonalInfo ON tblPersonalInfo.fldId = t.fldPersonalId
		INNER JOIN dbo.tblNahi ON tblNahi.fldCode_Personal=tblPersonalInfo.fldMahalSazmaniId
				--WHERE t.fldPersonalId=501 w
		where fldTypeEstekhdamId in (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		GROUP BY t.fldPersonalId,fldCodeMeli, fldName,fldFamily ,fldCodeEnhesari,fldFatherName,tblNahi.fldNameNahi,MablaghDarsad
	
	union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,tblMoavaghe.fldCodeEnhesari,fldFatherName,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,tblNahi.fldNameNahi,1,cast(0 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		INNER JOIN dbo.tblNahi ON tblNahi.fldCode_Personal=tblPersonalInfo.fldMahalSazmaniId
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.fldtype=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and  k.fldPersonalId=tblPersonalInfo.fldid)	
	group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName,fldNameNahi

	END

	IF(@fieldname='All')
begin
	INSERT @t 
	SELECT fldPersonalId,tblMablaghKarkardOprator.fldId,0,0,fldMashinarySerialId FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN Mnr.tblMablaghCalcMachinery
	ON tblMablaghCalcMachinery.fldId = tblMablaghKarkardOprator.fldMablaghCalcId inner join 
	mnr.tblMachineryKarkard on fldKarkardId=tblMachineryKarkard.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh   and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND fldMablaghCalcId IS NOT NULL  and fldMashinarySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId)
	GROUP BY fldPersonalId,tblMablaghKarkardOprator.fldId,tblMablaghKarkardOprator.fldTarikh,fldMashinarySerialId
	--SELECT * FROM @t where PersonalId=1603
	
	INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId  inner join 
	mnr.tblMachineryTavaghof on fldTavaghofId=tblMachineryTavaghof.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId 
	AND fldTavaghofId IS NOT NULL  and fldMachinerySerialId in (select fldfldSerialMachineryId from mnr.tblEblagh inner join Mnr.tblOperatorMojazMachinery on tblOperatorMojazMachinery.fldid=tblEblagh.fldPersonalId
	 and tblMablaghKarkardOprator.fldtarikh between fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=tblEblagh.fldid),fldtatarikh)
	 and fldIsEbtal<>1 and tblOperatorMojazMachinery.fldPersonalId=tblPersonalInfo.fldId) and tblMachineryTavaghof.fldEblagh_Id is not null 
	
	 INSERT @t
	SELECT fldPersonalId,0,fldTavaghofId,0,fldMachinerySerialId  FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId  inner join 
	mnr.tblMachineryTavaghof on fldTavaghofId=tblMachineryTavaghof.fldid
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh   and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND fldTavaghofId IS NOT NULL and  tblMachineryTavaghof.fldEblagh_Id is null 

	INSERT @t
	SELECT tblMablaghKarkardOprator.fldPersonalId,0,0,fldSignInOutId,fldfldSerialMachineryId   FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId inner join tblSignInOut
	on fldSignInOutId=tblSignInOut.fldid inner join mnr.tblEblagh
	on tblSignInOut.fldEblagh_Id=tblEblagh.fldid 
	WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId
	AND fldSignInOutId IS NOT NULL  	 and fldIsEbtal<>1
	and tblSignInOut.fldEblagh_Id in (select e.fldid from mnr.tblEblagh as e where tblMablaghKarkardOprator.fldtarikh between e.fldAzTarikh and isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh))
	--SELECT * FROM @t where PersonalId=1603
	--INSERT @t 
	--SELECT fldPersonalId,fldKarkardId,0,0 FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
	--ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId INNER JOIN Mnr.tblMablaghCalcMachinery
	--ON tblMablaghCalcMachinery.fldId = tblMablaghKarkardOprator.fldMablaghCalcId
	--WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh 
	--AND fldMablaghCalcId IS NOT NULL 
	--select * from @t where PersonalId=2705
	INSERT @temp
	SELECT PersonalId,KarkarId,0,0,(SELECT        TOP (1) Mnr.tblMablaghCalcMachinery.fldFinalSabt
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId 
						 where Mnr.tblMablaghKarkardOprator.fldId=KarkarId  and tblMablaghCalcMachinery.fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.KarkarId=tblSabtTaeediye.fldKarkardId WHERE t.PersonalId=t3.PersonalId
--group by fldKarkardId)t)t2) fldTaeedId 
,machinserial
FROM @t as t3
	WHERE KarkarId<>0 /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((SELECT     fldEblagh_Id   
FROM            Mnr.tblMablaghKarkardOprator INNER JOIN
                         Mnr.tblMablaghCalcMachinery ON Mnr.tblMablaghKarkardOprator.fldMablaghCalcId = Mnr.tblMablaghCalcMachinery.fldId INNER JOIN
                         Mnr.tblMachineryKarkard ON Mnr.tblMablaghCalcMachinery.fldKarkardId = Mnr.tblMachineryKarkard.fldId where Mnr.tblMablaghKarkardOprator.fldId=KarkarId),',') ) order by fldIsEbtal)<>1
	*/GROUP BY PersonalId,KarkarId,machinserial


	INSERT @temp
	SELECT PersonalId,0,TavaghofId ,0,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldTavaghofId=TavaghofId  and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.TavaghofId=tblSabtTaeediye.fldTavaghofId WHERE t.PersonalId=t3.PersonalId
--group by fldTavaghofId)t)t2) fldTaeedId 
,machinserial
FROM @t t3
	WHERE TavaghofId<>0  /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from Mnr.tblMachineryTavaghof where fldId=TavaghofId),',') ) order by fldIsEbtal)<>1
*/

	INSERT @temp
	SELECT PersonalId,0,0,SignInoutId,(select top(1) fldFinalSabt from mnr.tblMablaghCalcMachinery where fldSignInOutId=SignInoutId  and fldAyeenNameId=@fldAyeenNameId)fldTaeedId
--	,(select case when fldTaeedId=3 then 1 else 0 end fldTaeedId  from( select MIN(fldTaeedId) fldTaeedId from ( SELECT  max(fldTaeedId) fldTaeedId FROM Mnr.tblSabtTaeediye inner join @t as t on t.SignInoutId=tblSabtTaeediye.fldSignInOutId WHERE t.PersonalId=t3.PersonalId
--group by fldSignInOutId)t)t2) fldTaeedId  
,machinserial
FROM @t t3
	WHERE SignInoutId<>0 /*and (select top(1) fldIsEbtal  from Mnr.tblEblagh where fldId in(
select Item from dbo.Split((select fldEblagh_Id from tblSignInOut where fldId=SignInoutId),',') ) order by fldIsEbtal)<>1*/


	--SELECT * FROM @temp WHERE personalId=1603
	SELECT t.fldPersonalId AS fldId,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,fldCodeEnhesari,fldFatherName, 
		sum(fldMablagh) Mablagh
		,/*coalesce((select  SUM(fldMablagh) from mnr.tblMablaghKarkardOprator inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and t.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId
		),  */sum(fldMablagh)+isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.fldtype=1),0)MablaghDaryafti

		
		,isnull(fldNameNahi,N'اداره کل خط و سازه های فنی') as fldNameNahi,
		  case when min (flag)=2 then 0 else    min(TaedId) end  TaedId,(select top(1) ISNULL(fldGhatee,0)fldGhatee from  Mnr.tblMablaghKarkardOprator WHERE Mnr.tblMablaghKarkardOprator.fldPersonalId=t.fldPersonalId AND fldTarikh BETWEEN @AzTarikh AND @TaTarikh order by fldDate desc )fldGhatee
		,isnull((select SUM(tblMoavaghe.fldMablaghMoavaghe) from tblMoavaghe where fldNobatPardakht=@NoId and tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari AND tblMoavaghe.fldtype=1),0)fldmoavaghe
		
	
		FROM (
		 select fldPersonalId,machinId,MablaghDarsad, case when MablaghDarsad is null then/* sum(mablaghl)  when  sum(mablaghl)  is null  then*/ isnull(sum(mablaghl),sum(fldMablagh)) else MablaghDarsad end  fldMablagh
		 ,TaedId,flag
		 from (
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId ,1 as flag,machinId FROM @temp AS t --INNER JOIN Mnr.tblMablaghCalcMachinery ON fldKarkardId=t.Karkard
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldId = t.Karkard AND fldPersonalId=t.personalId
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--fldPersonalId=3961
		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId ,1 as flag,machinId FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldTavaghofId = t.Tavaghof AND fldPersonalId=t.personalId
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--fldPersonalId=1599

		UNION ALL
		SELECT fldPersonalId,tblMablaghKarkardOprator.fldMablagh,mablaghl,TaedId ,1 as flag,machinId FROM @temp AS t 
		INNER JOIN Mnr.tblMablaghKarkardOprator ON tblMablaghKarkardOprator.fldSignInOutId = t.singintout AND fldPersonalId=t.personalId
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		where   tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId--fldPersonalId=1599
		UNION ALL 
		SELECT fldPersonalId ,tblMablaghKarkardOprator.fldMablagh,mablaghl,/*@TaedId*/1 fldTaeedId ,2 as flag,fldfldSerialMachineryId FROM Mnr.tblMablaghKarkardOprator INNER JOIN dbo.tblPersonalInfo
		ON tblPersonalInfo.fldId = tblMablaghKarkardOprator.fldPersonalId
		cross apply (select fldfldSerialMachineryId,fldOpratorNumber from Mnr.tblEblagh where tblEblagh.fldId=tblMablaghKarkardOprator.fldEblaghId)e
		outer apply (select  (fldMablagh)mablaghl from mnr.tblMablaghKarkardOprator k
		 inner join tblHistoryDepo on tblMablaghKarkardOprator.fldTarikh>=@aztarikh 
		 and  tblMablaghKarkardOprator.fldTarikh<tblHistoryDepo.fldTarikh and fldIsMovazaf=0 
		 and tblMablaghKarkardOprator.fldPersonalId=tblHistoryDepo.fldPersonalId
		and k.fldPersonalId=tblMablaghKarkardOprator.fldPersonalId and k.fldid=tblMablaghKarkardOprator.fldid)ll

		WHERE tblMablaghKarkardOprator.fldTarikh BETWEEN @aztarikh AND @TaTarikh  and tblMablaghKarkardOprator.fldAyeenNameId=@fldAyeenNameId-- and  fldPersonalId=3961
	AND fldEblaghId IS NOT NULL /*and fldEblaghId in (select tblEblagh.fldId from Mnr.tblEblagh where tblEblagh.fldId=fldEblaghId and fldIsEbtal<>1)
		*/and   fldEblaghId in (select e.fldId from mnr.tblEblagh as e where( tblMablaghKarkardOprator.fldTarikh between e.fldAzTarikh and  isnull((select tblEtmamEblagh.fldTarikh from mnr.tblEtmamEblagh where tblEtmamEblagh.fldEblaghId=e.fldId),e.fldTaTarikh)or (e.fldTarikh=tblMablaghKarkardOprator.fldtarikh)))
		
		)x
		outer apply (select  (fldMablaghNahii)MablaghDarsad from mnr.tblDarsadMablaghPersonal p 
		where p.fldPersonald=x.fldPersonalId and fldTarikh=@TaTarikh 
		and p.fldAyeenNameId=@fldAyeenNameId and fldMachinSerialId=x.machinId )darsad
		group by x.fldPersonalId,x.flag,x.machinId,MablaghDarsad,x.TaedId--,fldMablagh
		)t
		INNER JOIN dbo.tblPersonalInfo ON tblPersonalInfo.fldId = t.fldPersonalId
		LEFT JOIN dbo.tblNahi ON fldCode_Personal=fldMahalSazmaniId
	
		WHERE fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam) --and fldCodeEnhesari='11658854'
		GROUP BY t.fldPersonalId,fldCodeMeli, fldName,fldFamily ,fldCodeEnhesari,fldFatherName,tblNahi.fldNameNahi
		
		union all
		select tblPersonalInfo.fldid,fldCodeMeli AS fldCodeMeli, fldName+' '+fldFamily AS Name_Family,tblMoavaghe.fldCodeEnhesari,fldFatherName,
		0 Mablagh,SUM(tblMoavaghe.fldMablaghMoavaghe)
		,isnull(fldNameNahi,N'اداره کل خط و سازه های فنی') as fldNameNahi,1,cast(1 as bit)
		,SUM(tblMoavaghe.fldMablaghMoavaghe)
		 from tblMoavaghe
		inner join tblPersonalInfo on tblMoavaghe.fldCodeEnhesari=tblPersonalInfo.fldCodeEnhesari
		left JOIN dbo.tblNahi ON tblNahi.fldCode_Personal=tblPersonalInfo.fldMahalSazmaniId
		 where fldNobatPardakht=@NoId and fldTypeEstekhdamId IN (select tblEstekhdam.id from @tblEstekhdam as tblEstekhdam)
		AND tblMoavaghe.fldtype=1 and tblPersonalInfo.fldid not in (select k.fldPersonalId from mnr.tblMablaghKarkardOprator  as k
		where k.fldtarikh between @aztarikh and @TaTarikh  and k.fldAyeenNameId=@fldAyeenNameId and k.fldPersonalId=tblPersonalInfo.fldid)--	and tblMoavaghe.fldCodeEnhesari='11658854'
	group by tblPersonalInfo.fldid,fldCodeMeli,fldName,fldFamily,tblMoavaghe.fldCodeEnhesari,fldFatherName,fldNameNahi
	
	END
*/
	commit tran

		





